*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin:0 50px ;
    background-color: white;
    position: sticky;
    z-index: 2;
    top:0;
}
.navbar .fa-solid {
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 40px;
    /* margin:0 100px ; */
    background-color:white;
}
.logo{
    width: 30%;
}
.logo img{
    width: 100px;
    height: 60px;
    margin-left: 10px;
}
.nav-list{
    width: 70%;
}
#firstUl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    position: relative;
    
}
 #firstUl li{
    background: white;
    height: 30px;
}

#firstUl li a{
    text-decoration: none;
    color: black;
    line-height: 1;
    display: inline-block;
    font-size: 1.3rem;
   color: #0060c6;
   position: relative;

}

#firstUl li a:hover{
    background-color: #0060c6;
    color: white;
}
#secondUl{
    position: absolute;
    top:30px;
    margin-top: 2px;
    list-style-type: none;
    display: none;
}
#firstUl li:hover > #secondUl{
    display: flex;
}

/* -----------------------section------------- */
.section{
    margin:30px 100px ;
}
.parts{
    display: flex;
    width: 100%;
}
.parts .leftpart{
    width: 50%;
    margin: auto;
}
.parts .rightpart img{
    width: 95%;
    padding: 20px
}
.leftpart h2{
    font-size: 36px;
    font-weight: bolder;
}
.leftpart p{
    color: gray;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0;
}

.section h3{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
}

/* ----------Achivments------- */
.flex-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 30px 0; */
    text-align: center;
}
.flex h4{
    color: gray;
    font-size: 1.6rem;
    padding: 30px 0;
}
.flex p,span{
    font-size: 1.4rem;
    font-weight: 800;
    display: inline-block;
}

/* <!-- ------------image slider---------- --> */
.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

/* ----------------------Cards------------------- */
.firsthalf{
    margin: 5px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.7;
}
.firsthalf p{
    color: gray;
}
.secondhalf, .card2{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px; */
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* margin: auto; */
}
.cards{
    width: 250px;
    height: 230px;
    padding:20px 15px;
    text-align: center;
box-shadow: -4px -1px 30px -2px #d9d2d2;
}

.cards img{
    width: 100px;
}
.cards p{
    margin: 20px;
    font-weight: 600;
}

/* ------------------------footer------------------ */
.footer{
    background-color: rgb(235 235 235);
    padding: 20px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
.content-left{
    width: 300px;
    margin: auto;
    line-height: 1.2;
}
.content-left img{
    width: 120px;
}
.content-left h3{
    padding: 15px 0;
    font-size: 1.3rem;
}
.content-left p{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.content-left .icon{
    font-size: 35px;
}

.content-right{
    width: 400px;
    margin: auto;
    line-height: 1.2;
}
.links a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 12px 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.links a i{
    padding: 5px 10px;
}

.btns{
    margin: 10px;
}
.btns button{
    margin: 10x ;
    padding: 5px;
    width :100px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: rgb(191, 243, 243);
    transition: 0.5sec;
}
.btns button i{
    padding-right:6px ;
}
.btns button:hover{
    background: white;
    color: #0c6dbe;
}
h5{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 3;
}

/* -------------Responsive------------- */

@media screen and (max-width:850px) {
    .container{
        background-color: white;
        
        margin:0;
    }
    .navbar{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    .navbar .fa-solid {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    .logo img{
        width: 100px;
        display: block;
    }
    #firstUl{
        display: block;
        line-height: 1.6;
        background:white ;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    #secondUl{
        position:static;
        top:30px;
        margin-top: 2px;
        list-style-type: none;
        display: block;
    }
   

/* -------Section_----- */
.section{
    margin:5px 20px ;
}
.parts{
    display: block;
    width: 100%;
}
.parts .leftpart{
    width: 100%;
    
}
.parts .rightpart img{
    width: 100%;
}
.section h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
}

/* ----------Achivments------- */

.flex-box{
    display: block;
}
.flex h4{
    color: gray;
    font-size: 1.6rem;
    padding: 30px 0;
}
.flex p,span{
    font-size: 1.4rem;
    font-weight: 800;
    display: inline-block;
}

/* --------CARDS-------- */

.firsthalf{
    font-size: 1.4rem;
    line-height: 2;
}
.firsthalf h2{
font-size: 1.7rem;
margin: 12px 0;
}
.secondhalf, .card2{
    display: block;
}
.cards{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: -2px -1px 22px -2px #d9d2d2;
}


.parts2{
    margin: 70px 0;
}
.parts2 img{
    width: 100%;
    margin: 25px 0;
}



/* -------Footer-------- */

.footer{
    display: block;
    height: 420px;
    padding: 25px;
}
.content-left{
    width:100%;
    height: 220px;
    margin: 0px;
    line-height: 1.2;
}
.content-right{
    width:100%;
    height: 172px;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
}

}