.section1{
    background: rgb(217, 235, 234);
}
.section4{
    background: rgb(217, 235, 234);
}



/* -------------Section------ */

.parts{
    display: flex;
justify-content: space-between;
align-items: center;
    width: 100%;
}
.parts .leftpart{
    width: fit-content;
    margin: 5px 10px;
}
.parts .leftpart span{
    display: block;
}
.parts .rightpart{
   text-align: center;
}
.parts .rightpart img{
    width: 95%;
    padding: 20px
}
.parts .leftpart h2{
    font-size: 36px;
    font-weight: bolder;
}
.parts .leftpart p{
    color: gray;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 0;
}

.section h3{
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
}

/* ----------Achivments------- */
.flex-box{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    /* grid-template-columns: repeat( 4, 1fr); */
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    text-align: center;
}
.flex{
    /* width: 260px; */
    gap: 20px;
    box-shadow: -2px -1px 22px -2px #d9d2d2;
    padding: 30px;
    
}
.flex h4{
    color: gray;
    font-size: 1.6rem;
    /* padding: 30px 0; */
}
.flex p,span{
    font-size: 1.4rem;
    font-weight: 800;
    display: inline-block;
}

/* <!-- ------------image slider---------- --> */
.slider {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

/* ----------------------Cards------------------- */
.firsthalf{
    margin: 5px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.7;
}
.firsthalf p{
    color: gray;
}
.secondhalf{
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:50px 5px;
    
}
.cards{
    width: 250px;
    height: 230px;
    padding:20px 15px;
    text-align: center;
    background-color: white;
box-shadow: -4px -1px 30px -2px #d9d2d2;
transition: .5s;
}

.cards:hover{
    transform: translateY(-13px);
}

.cards img{
    width: 100px;
}
.cards p{
    margin: 20px;
    font-weight: 600;
}



/* -------------Responsive------------- */

@media screen  and ( max-width: 1024px){
    .parts .leftpart h2{
        line-height: 1.3;
        font-size: 30px;
    }

    .flex-box{
        grid-template-columns: repeat( auto-fill, minmax(283px, 1fr) );
    }
    
    
}
@media screen and (max-width:768px) {

    .section2{
        padding:20px;
    }
    .parts{
        display: block;
        margin: 10px 20px;
    }

   

    .parts2{
        display: block;
        
    }
    .parts2 .leftpart, .parts2.rightpart{
        width: fit-content;
    }
    .parts2 .rightpart img{
        width: 70%;
        text-align: center;
    }
    
}

@media screen and (max-width:520px) {

/* -------Section_----- */

.parts{
    display: block;
    width: 100%;
    margin: unset;
}
.parts .leftpart{
    width: 100%;
    
}
.parts .rightpart img{
    width: 100%;
}
.leftpart h2{
    font-size: 30px;
    line-height: 1.3;
}

.parts .leftpart p{
    font-size: 18px;
}

/* ----------Achivments------- */

.section h3{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    color: rgb(56, 56, 56);
}
.flex{
    width: 100%;
    margin-bottom: 10px;
    box-shadow: -2px -1px 22px -2px #d9d2d2;
    padding: 15px;
}
.flex h4{
    color: gray;
    font-size: 1.6rem;
    padding: 0;
}
.flex p,span{
    font-size: 1.4rem;
    font-weight: 800;
    display: inline-block;
}

/* --------CARDS-------- */

.firsthalf{
    font-size: 1.4rem;
    line-height: 2;
}
.firsthalf h2{
font-size: 1.9rem;
margin: 12px 0;
line-height: 1.1;
}
.firsthalf p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.3;
}
.secondhalf, .card2{
    display: block;
}
.cards{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: -2px -1px 22px -2px #d9d2d2;
}


.parts2{
    margin: 40px 0;
}
.parts2 img{
    width: 100%;
    margin: 25px 0;
}

}
