.about {
  padding: 5px 20px;
}
.content div {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  padding: 5px 10px;
}
.content p {
  color: #746f6f;
  line-height: 2;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px 20px;
}

.about .text-img {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
  text-align: center;
  padding: 5px 20px;
  margin-top: 40px;
}
.text-img .flex {
  height: 540px;
  padding: 20px;
  background: #c6ddf8;
}
.flex .img p {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
}
.flex .text p {
  padding: 5px;
  color: #746f6f;
}

/* -------section------------ */

.section1 {
  background-color: rgb(108 146 249);
}

.plain-text {
  text-align: center;
  padding: 10px 60px;
  font-size: 2rem;
  letter-spacing: 1px;
}

/* -------------Responsive------------- */
@media screen and (max-width: 768px) {
  .text-img .flex {
    height: fit-content;
  }
  .about .text-img {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 20px;
  }
  .plain-text {
    padding: 10px 30px;
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 528px) {
  .about {
    padding: 5px 0;
  }
  .content p {
    line-height: 1.5;
    font-size: 1.1rem;
    padding: 5px 10px;
  }

  .content div {
    font-size: 2.1rem;
  }
  .about .text-img {
    display: block;
    padding: 5px 0;
  }

  .text-img .flex {
    width: 100%;
    height: fit-content;
    margin: 20px 0;
  }
  .text-img .flex img {
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .plain-text {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
