.section .heading {
  margin-bottom: 40px;
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
}
.contacts {
  display: flex;
  /* grid-template-columns: repeat(auto-fill,minmax(300px, 1fr)); */
  gap: 30px;
  justify-content: space-evenly;
  padding: 5px;
  flex-wrap: wrap;
  gap: 20px;
}
.contact {
  width: 360px;
  text-align: center;
  box-shadow: -2px -1px 22px -2px #d9d2d2;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 1s;
}
.contact:hover {
  background-color: #cadcee;
}
.contact i {
  font-size: 2.5rem;
  padding: 15px 5px;
  color: #5fa0e6;
}
.contact div {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px;
}
.contact h3 {
  font-size: 1.3rem;
  padding: 10px 5px;
  font-weight: 600;
  color: #313131;
}
.contact p {
  line-height: 2;
  padding: 10px 5px;
  color: #797676;
}

.sales ul {
  padding: 3px 5px;
  text-align: left;
  padding-left: 37px;
  line-height: 2.5;
  color: #797676;
}
.sales ul li a {
  color: #797676;
  text-decoration: none;
  word-wrap: break-word;
}

/* -------------Responsive------------- */
@media screen and (max-width: 768px) {
  .section .heading {
    font-size: 2.5rem;
  }

  .contact {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .section .heading {
    font-size: 2.1rem;
  }
  .contact {
    display: block;
    padding: unset;
  }
  .contact div {
    font-size: 1.5rem;
    padding: 5px;
  }

  .contact h3 {
    font-size: 1.2rem;
  }
  .contact p {
    line-height: 1.6;
  }
}

@media screen and (max-width: 425px) {
  .contact {
    display: block;
    width: 100%;
    padding: 10px;
  }
}
